@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=David+Libre:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bg/beams.jpg");
  @apply font-body bg-no-repeat bg-left-top bg-[#f9fafc] bg-contain;
}

.button {
  @apply flex items-center justify-center px-7 py-3 border bg-white text-black border-black font-sans uppercase
  transition-all duration-200 ease-in-out
  hover:bg-blue-600 hover:text-white hover:border-blue-600 hover:shadow-lg
  active:bg-blue-700 active:border-blue-700 active:text-white active:shadow-md;
}
